<form>
  <div class="form-group">
    {% for error in form.non_field_errors %}<p class="text-danger mt-1">{{ error }}</p>{% endfor %}
  </div>
  <div class="form-group">
    <label for="name">{{ name.label }}</label>
    <input type="text" class="form-control" name="name" id="name" value="{{ author.name }}" placeholder="ФИО">
    {% for error in form.name.errors %}<p class="text-danger mt-1">{{ error }}</p>{% endfor %}
  </div>
    <div class="form-group">
    <label for="date_of_birth">{{ date_of_birth.label }}</label>
    <input type="date" class="form-control" name="date_of_birth" id="date_of_birth" value="{{ author.date_of_birth|date:"m/d/Y" }}" placeholder="Дата рождения">
    {% for error in form.date_of_birth.errors %}<p class="text-danger mt-1">{{ error }}</p>{% endfor %}
    </div>
    <div class="form-group">
    <label for="date_of_death">{{ date_of_death.label }}</label>
    <input type="date" class="form-control" name="date_of_death" id="date_of_death" value="{{ author.date_of_death }}" placeholder="Дата смерти">
    {% for error in form.date_of_death.errors %}<p class="text-danger mt-1">{{ error }}</p>{% endfor %}
    </div>
  <div class="form-group">
    <label for="text">{{ biography.label }}</label>
     <input type="text" class="form-control" name="biography" id="text" value="{{ author.biography }}" placeholder="Биография">
    {% for error in form.biography.errors %}<p class="text-danger mt-1">{{ error }}</p>{% endfor %}
  </div>
  <div class="form-group">
    <label for="image">{{ image.label }}</label>
    <input type="file" class="form-control-file" name="image" id="image">
    {% for error in form.image.errors %}<p class="text-danger mt-1">{{ error }}</p>{% endfor %}
  </div>
  <button type="submit" class="btn btn-primary mr-1">Отправить</button>
  <a class="btn btn-primary" href="{% url 'webapp:author_list' %}" role="button">Отмена</a>
</form>