<form>
  <div class="form-group">
    {% for error in form.non_field_errors %}<p class="text-danger mt-1">{{ error }}</p>{% endfor %}
  </div>
  <div class="form-group">
    <label for="name">{{ title.label }}</label>
    <input type="text" class="form-control" name="title" id="name" value="{{ book.title }}" placeholder="Название">
    {% for error in form.title.errors %}<p class="text-danger mt-1">{{ error }}</p>{% endfor %}
  </div>
  <div class="form-group">
    <label for="author">{{ author.label }}</label>
    <input type="text" class="form-control" name="author" id="author" value="{{ book.author }}" placeholder="Автор">
    {% for error in form.author.errors %}<p class="text-danger mt-1">{{ error }}</p>{% endfor %}
  </div>
  <div class="form-group">
    <label for="year">{{ year.label }}</label>
    <input type="text" class="form-control" name="year" id="year" value="{{ book.year }}" placeholder="Год издания">
    {% for error in form.year.errors %}<p class="text-danger mt-1">{{ error }}</p>{% endfor %}
  </div>
  <div class="form-group">
    <label for="description">{{ description.label }}</label>
     <input type="text" class="form-control" name="description" id="description" value="{{ book.description }}" placeholder="Описание">
    {% for error in form.description.errors %}<p class="text-danger mt-1">{{ error }}</p>{% endfor %}
  </div>
  <div class="form-group">
    <label for="image">{{ image.label }}</label>
    <input type="file" class="form-control-file" name="image" id="image">
    {% for error in form.image.errors %}<p class="text-danger mt-1">{{ error }}</p>{% endfor %}
  </div>
  <div class="form-group">
    <label for="file">{{ file.label }}</label>
    <input type="file" class="form-control-file" name="file" id="file">
    {% for error in form.file.errors %}<p class="text-danger mt-1">{{ error }}</p>{% endfor %}
  </div>
  <button type="submit" class="btn btn-primary mr-1">Отправить</button>
  <a class="btn btn-primary" href="{% url 'webapp:author_list' %}" role="button">Отмена</a>
</form>