{% extends 'base.html' %}

{% block title %}Автор{% endblock %}

{% block content %}
    <div class="container">
        <div class="card mt-4" style="width: 50rem;">
            <div class="card-body">
                {% if author.image %}
                    <img class="card-img-top" src="{{ author.image.url }}" alt="{{ author.image.name }}">
                {% endif %}
                <h4 class="card-title mt-4 mb-4">{{ author.name }}</h4>
                <h6 class="card-subtitle mb-2 text-muted">{{ author.date_of_birth }} - {{ author.date_of_death }}</h6>
                <p class="card-text">{{ author.biography }}</p>
                {% if user.is_staff %}
                    <a class="card-link" href="{% url 'webapp:author_update' author.pk %}">Редактировать</a>
                    <a class="card-link" href="{% url 'webapp:author_delete' author.pk %}">Удалить</a>
                {% endif %}
                <hr/>
                <h5 class="card-title mt-4">Книги:</h5>
                {% include 'partial/book_list.html' with book_list=books %}
            </div>
        </div>
    </div>
{% endblock %}
