{% extends 'base.html' %}

{% block title %}Авторы{% endblock %}

{% block content %}
    <div class="container">
        {% for author in author_list %}
            <div class="card mt-4">
                <div class="card-body">
                    {% if author.image %}
                        <a href="{% url 'webapp:author_details' author.pk %}">
                        <img class="card-img-top" src="{{ author.image.url }}" alt="{{ author.image.name }}">
                        </a>
                    {% endif %}
                    <h4 class="card-title mt-4 mb-4">{{ author.name }}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">{{ author.date_of_birth }}
                        - {{ author.date_of_death }}</h6>
                    <p class="card-text">{{ author.biography }}</p>
                    {% if user.is_staff %}
                        <a class="card-link" href="{% url 'webapp:author_update' author.pk %}">Редактировать</a>
                        <a class="card-link" href="{% url 'webapp:author_delete' author.pk %}">Удалить</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}