{% extends 'base.html' %}

{% block title %}Книги{% endblock %}

{% block content %}
    {% for book in book_list %}
        <div class="container">
            <div class="card mt-4" style="width: 50rem;">
                <div class="card-body">
                    {% if book.image %}
                        <a href="{% url "webapp:book_details" book.pk %}">
                            <img class="card-img-top" src="{{ book.image.url }}" alt="{{ book.image.name }}">
                        </a>
                    {% endif %}
                    <h4 class="card-title mt-4 mb-4">{{ book.title }}</h4>
                    {% if user.is_authenticated %}
                        <form method="POST" enctype="multipart/form-data" action="{% url 'webapp:add_book' book.pk %}"
                              id="shelf">
                            {% csrf_token %}
                            <div>
                                <button type="submit" class="btn btn-outline-secondary btn-sm mb-3">Добавить на полку
                            </button>
                            </div>
                        </form>
                    {% endif %}
                    <h6 class="card-subtitle mb-2 text-muted">Год издания: {{ book.year }}</h6>
                    {% if user.is_staff %}
                        <a class="card-link" href="{% url 'webapp:book_update' book.pk %}">Редактировать</a>
                        <a class="card-link" href="{% url 'webapp:book_delete' book.pk %}">Удалить</a>
                    {% endif %}
                </div>
            </div>
        </div>
     {% endfor %}
        <script language="JavaScript">
        $(document).ready(function () {
            $('#shelf button[type="submit"]').click(function (e) { // catch the form's submit event
                e.preventDefault();
                url = e.target.form.action;
                csrf = $("input[name='csrfmiddlewaretoken']", e.target.form).val();
                div = $("div", e.target.form).get()[0];
                button = $("button", e.target.form).get()[0];
                console.log(div);
                $.ajax({
                    data: {"csrfmiddlewaretoken": csrf},
                    type: e.target.form.method,
                    url: url,
                    success: function (response) { // on success..
                        alert("Вы добавили эту книгу!")
                        div.remove();
                    },
                    error: function (response) {
                        alert("Эта книга уже добавлена!")
                        button.remove();
                    }
                });
                return false;
            });
        })
    </script>
{% endblock %}