{% extends 'base.html' %}
{% block title %}Пользователь {% endblock %}
{% block content %}
    <div class="container">
        <div class="card mt-4" style="width: 50rem;">
            <div class="card-body">
                <h4 class="card-title mt-4 mb-4">Пользователь: {{ user }}</h4>
                <p class="card-text">
                <p>Имя: {{ user.first_name }}</p>
                <p>Фамилия: {{ user.last_name }}</p>
                <p>Почта: {{ user.email }}</p>
                </p>
                {% if user == request.user %}
                    <a class="card-link" href="{% url 'webapp:user_update' request.user.pk %}">Редактировать</a>
                {% endif %}
                <hr/>
                <h5 class="card-title mt-4">Книги:</h5>
                {% for book in books %}
                    {% if user.is_authenticated %}
                        <form method="POST" enctype="multipart/form-data"
                              action="{% url 'webapp:remove_book' book.book.pk %}"
                              id="shelf">
                            {% csrf_token %}
                            <div>
                                <a href="{% url 'webapp:book_details' book.book.pk %}"
                                   class="card-link">{{ book.book.title }}</a> {{ book.book.author.name }}
                                    {% if user == request.user %}
                                    <button class="btn btn-outline-secondary btn-sm mb-3" type="submit">Удалить</button>
                                    {% endif %}
                            </div>
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <script language="JavaScript">
        $(document).ready(function () {
            $('#shelf button[type="submit"]').click(function (e) { // catch the form's submit event
                e.preventDefault();
                url = e.target.form.action;
                csrf = $("input[name='csrfmiddlewaretoken']", e.target.form).val();
                div = $("div", e.target.form).get()[0];
                console.log(div);
                console.log(e.target.form);
                $.ajax({
                    data: {"csrfmiddlewaretoken": csrf},
                    type: e.target.form.method,
                    url: url,
                    success: function (response) { // on success..
                        alert("success!")
                        div.remove();
                    },
                    error: function (response) {
                        alert("error!")
                    }
                });
                return false;
            });
        })
    </script>
{% endblock %}