{% extends 'base.html' %}
{% block title %}Пользователь {% endblock %}
{% block content %}
    <div>
        <h5 class="card-title">Имя пользователя: {{ user }}</h5>
        <p>Имя: {{ user.first_name }}</p>
        <p>Фамилия: {{ user.last_name }}</p>
        <p>Почта: {{ user.email }}</p>

        {% if user == request.user %}
            <li class="list-group-item"><a href="{% url 'webapp:user_update' request.user.pk %}" class="nav-link">Редактировать</a>
            </li>
        {% endif %}
        <h2 class="mt-2">Книги</h2>
        {% for book in books %}
            <form method="POST" enctype="multipart/form-data" action="{% url 'webapp:remove_book' book.book.pk %}"
                  id="shelf">
                {% csrf_token %}
                <div class="card-title card-text" id="{{ book.book.pk }}">
                    <a href="{% url 'webapp:book_details' book.book.pk %}" class="card-link">{{ book.book.title }}|{{ book.book.year }}</a>
                    <button type="submit">Удалить</button>
                </div>


            </form>
        {% endfor %}
    </div>
    <script language="JavaScript">
        $(document).ready(function () {
            $('#shelf button[type="submit"]').click(function (e) { // catch the form's submit event
                e.preventDefault();
                url = e.target.form.action;
                csrf = $("input[name='csrfmiddlewaretoken']", e.target.form).val();
                h4 = $("div", e.target.form).get()[0];
                console.log(h4);
                console.log(e.target.form);
                $.ajax({
                    data: {"csrfmiddlewaretoken": csrf},
                    type: e.target.form.method,
                    url: url,
                    success: function (response) { // on success..
                        alert("success!")
                        h4.remove();
                    },
                    error: function (response) {
                        alert("error!")
                    }
                });
                return false;
            });
        })
    </script>
{% endblock %}